// LIGHT theme
// ----------
// modify this file to customize the application's appearance when a light theme is in use
// apply changes by running `yarn prepare`

@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #bf4400,
  $secondary: #676778,
  $surface: #fff,
  $background: #e3f4d7,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;

  // apply the theme to anymapper styles
  --anymapper-primary-bg-color: #{theme.$primary};
  --anymapper-surface-bg-color: #{theme.$surface};
  --anymapper-surface-fg-color: #{theme.$on-surface};
  --anymapper-background-color: #{theme.$background};
}

a {
  color: theme.$primary;
}

.material-symbols-outlined {
  font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 48
}

footer {
  background-color: rgba(255,255,255,0.6)
}