// DARK theme
// ----------
// modify this file to customize the application's appearance when a dark theme is in use
// apply changes by running `yarn prepare`

@use 'sass:color';

@use '@material/theme/color-palette';

@use '@material/theme/index' as theme with (
  $primary: #bf4400,
  $secondary: color.scale(#676778, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: black,
  $error: color-palette.$red-700
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;

  // apply the theme to anymapper styles
  --anymapper-primary-bg-color: #{theme.$primary};
  --anymapper-surface-bg-color: #{theme.$surface};
  --anymapper-surface-fg-color: #{theme.$on-surface};
  --anymapper-background-color: #e3f4d7; // this follows the background of the map
}

a {
  color: theme.$primary;
}

.material-symbols-outlined {
  font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' -25, // reduced glare
	'opsz' 48
}

footer {
  background: rgba(0,0,0,0.8)
}